@model Product
<div class="card">
    <img src="@Model.ImageUrl" class="card-img-top" />
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <p class="card-text">@Model.Price</p>
        <button class="btn btn-success">Sepete Ekle</button>
    </div>
</div>